<!DOCTYPE html>
<html>
<head>
  <title>Login Form</title>
  <style>
      body {
          font-family: Arial, sans-serif;
          background-color: #f5f5f5;
      }

      h2 {
          font-size: 32px;
          text-align: center;
          margin-top: 50px;
          margin-bottom: 30px;
      }

      form {
          background-color: #fff;
          border: 1px solid #ccc;
          padding: 20px;
          margin: 0 auto;
          max-width: 500px;
      }

      .field {
          margin-bottom: 20px;
      }

      label {
          display: block;
          font-size: 18px;
          margin-bottom: 5px;
      }

      input[type="text"],
      input[type="email"],
      input[type="password"] {
          width: 100%;
          padding: 10px;
          font-size: 16px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
      }

      input[type="checkbox"] {
          margin-right: 10px;
      }

      .actions {
          text-align: center;
      }

      input[type="submit"] {
          background-color: #1db954;
          color: #fff;
          border: none;
          padding: 10px 20px;
          font-size: 18px;
          border-radius: 4px;
          cursor: pointer;
      }

      input[type="submit"]:hover {
          background-color: #1ed760;
      }
      .error-message {
          color: red;
          font-size: 18px;
      }
  </style>
</head>
<body>
<h2>Реєстрація</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<form>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name, "Ім'я" %>
    <%= f.text_field :name %>
    <% if @user.errors.has_key?(:name) %>
      <div class="error-message">
        <%= @user.errors[:name].first %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :surname, "Прізвище" %>
    <%= f.text_field :surname %>
    <% if @user.errors.has_key?(:surname) %>
      <div class="error-message">
        <%= @user.errors[:surname].first %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :surname, "По-батькові" %>
    <%= f.text_field :patronymic %>
    <% if @user.errors.has_key?(:patronymic) %>
      <div class="error-message">
        <%= @user.errors[:patronymic].first %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :email , "Пошта" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <% if @user.errors.has_key?(:email) %>
      <div class="error-message">
        <%= @user.errors[:email].first %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password , "Пароль" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> символів мінімум)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Повторіть пароль" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Зареєструватися" %>
    <%= link_to "До сторінки входу", session_path(resource_name) %>
  </div>
<% end %>

<!---<%= render "devise/shared/links" %>-->
</form>
</body>
</html>