<div class="row mb-2 w-75 border-bottom pb-2", style="margin: auto">
  <div class="col-4">
    <%= image_tag "product.jpg", class: "img-fluid"%>
  </div>
  <div class="col">
    <h4><%=link_to product.name, product_url(:id => product.id), style: "text-decoration: none"%></h4>
    <%=form_with url: wishlist_delete_url, method: :post, class: "d-flex align-items-center" do |form| %>
      <h4 class="me-3"><%=product.get_current_price %> грн</h4>
      <%= form.hidden_field :id, value: product.id %>
      <%= form.button nil, class: "btn btn-danger ms-auto" do %>
        <%= image_tag "trash_icon.svg", style: 'height:30px;width:30px;'%>
      <% end %>
    <% end %>
  </div>
</div>