<div class="row mb-2 w-75 border-bottom pb-2", style="margin: auto">
  <div class="col-4">
    <%= image_tag product.photo, style: "width: 250px; height: 150px;",
                  class: "card-img-top img-fluid" if product.photo.attached? %>
  </div>
  <div class="col">
    <h4><%=link_to product.name, product_url(:id => product.id), style: "text-decoration: none"%></h4>
    <%=form_with url: cart_increase_product_quantity_url, method: :post, class: "d-flex align-items-center" do |form| %>
      <h4 class="me-3"><%=product.get_current_price %> грн</h4>
      <%= form.hidden_field :product_id, value: product.id %>
      <%if carts_product.quantity == 1 %>
        <%= form.submit "-", class: "btn btn-danger disabled", formaction: cart_decrease_product_quantity_url %>
      <% else %>
        <%= form.submit "-", class: "btn btn-danger", formaction: cart_decrease_product_quantity_url %>
      <% end %>
      <%= form.number_field :quantity, value: carts_product.quantity, class: "form-control ms-2 me-2", style: "width: 100px;", disabled: true %>
      <%= form.submit "+", class: "btn btn-success" %>
      <%= form.button nil, class: "btn btn-danger ms-auto", formaction: cart_delete_product_url do %>
        <%= image_tag "trash_icon.svg", style: 'height:30px;width:30px;'%>
      <% end %>
    <% end %>
  </div>
</div>