<div class="col d-flex align-items-stretch">
  <div class="card w-100", style="background-color: rgb(0,0,0,0.1);">
    <%=link_to product_path(product.id)do%>
      <%= image_tag product.photo, class: "card-img-top img-fluid" if product.photo.attached? %>
    <%end %>
    <div class="card-body">
      <div class="card-title text-wrap", style="height: 50px;">
        <h5 style=" -webkit-line-clamp: 2;
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;"><%=link_to product.name, product_path(product.id), style: "text-decoration:none;"%></h5>
      </div>
      <div class="card-text">
        <% if Discount.find_by(product_id: product.id) !=nil %>
          <h6 style="height: 20px"><s><%=product.price %>  ₴</s>  - <%=product.get_current_discount %>%</h6>
          <h5 class="text-danger"><%=product.get_current_price %>  ₴</h5>
        <% else %>
          <h6 style="height: 20px"></h6>
          <h5><%=product.price %>  ₴</h5>
        <% end %>
        <p style="height: 20px">
          <%if product.quantity == 0 %>
          <span class="text-muted">Немає в наявності</span>
          <%end %>
        </p>
      </div>
    </div>
  </div>
</div>
