<div class="card mb-3">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div class="d-flex flex-column">
        <h4><%= review.user.name %></h4>
        <div class="d-flex">
          <%review.rating.times do %>
            <%=image_tag("star_yellow_icon.svg", style: "height:20px; width:20px;") %>
          <%end %>
          <%if review.rating < 5 %>
            <%(5-review.rating).times do %>
              <%=image_tag("star_gray_icon.svg", style: "height:20px; width:20px;") %>
            <%end %>
          <%end %>
        </div>
      </div>
      <div class="d-flex flex-column">
        <div class="text-muted text-end"><%=review.created_at.strftime("%d/%m/%Y") %></div>
        <%if current_user != nil && current_user.id == review.user.id %>
          <div class="d-flex mt-3">
            <%=link_to "Редагувати", edit_review_url(id: review.id), class: "btn btn-secondary me-3" %>
            <%=button_to "Видалити", review_url(id: review.id), method: :delete, class: "btn btn-danger" %>
          </div>
        <%end %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= review.comment%>
  </div>
</div>